<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>OOXX</title>
	<link rel="stylesheet" href="/css/main.css">

	
	<script src="/js/lib/jquery-2.0.0b2.js"></script>
</head>
<body>
201303221
<h1>[title: ]{{title}}</h1>

<h2>[current ENV: ] {{settings.env}}</h2>

<p>[routes test: ]</p>
<p><a href="/users">/users</a></p>
<p><a href="/users/hlkfhy92314hh">/users/hlkfhy92314hh</a></p>
<p><a href="/about">/about</a></p>
<p><a href="/404">/404</a></p>

<p>[passport: ]</p>
<a id="login" href="###"><img src="http://dev.baidu.com/wiki/static/connect/images/standard/login-long.png" alt=""></a>
<button id="logout" hidden>logout</button>

<div id="usrname"></div>

<img src="http://su.bdimg.com/static/pack/img/pack_weather_bear_43513377.png" alt="">
</body>
<script type="text/javascript" src="http://openapi.baidu.com/connect/js/v2.0/featureloader"></script>
<script>
	
/*!function(query) {
	var authCode = (query || "").replace("?code=", "");

	authCode && $.getJSON({
		url: "https://openapi.baidu.com/oauth/2.0/token",
		grant_type: "authorization_code",
		code: authCode,
		client_id: "5DFaFFfHkdmpHU38wv5lHukF",
		client_secret: "dPzjPp5glqyA5QQjKV7GaxxQ8ummvwGv",
		redirect_uri: "http://ooxx.org"
	}, function(data) {
		console.log(data)
	})
	
}(window.location.search)*/

var userInfo = {},		// User's infomation: uid, uname, portrait
	friendList = [];	// User's friends list

;(function () {
	baidu.require('connect', function(connect){
		var callback = function (info) {
			if(info.status === "connected") {
				connect.api({
					url: 'passport/users/getLoggedInUser',
					onsuccess: function(info){
						userInfo = info;
					}
				});
				connect.api({
					url: 'friends/getFriends',
					onsuccess: function(info){
						friendList = info;
					}
				});
			} else {
				userInfo = {};
				friendList = [];
			}
		};

		connect.init('5DFaFFfHkdmpHU38wv5lHukF', {
			status:true,
	    });

	    connect.getLoginStatus(function (info) {
			callback(info);
		});

		$("#login").click(function () {
			connect.login(function (info) {
				callback(info);
			});
		})

	});
})();


</script>
<script src="/socket.io/socket.io.js"></script>
<script>
var socket = io.connect('http://127.0.0.1:4444');
socket.on('pub', function (data) {
	// console.log(data);
	socket.emit('sub', { my: 'data' });
});
socket.on('debug', function (data) {
	data === "refresh" && location.reload();
});
</script>
</html>