<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>map</title>
	<style type="text/css">
	html{height:100%}
	body{height:100%;margin:0px;padding:0px}
	#map{height:100%}
	#position {
		position: absolute;
		z-index: 10;
		width: 100px;
		height: 100px;
		right: 0;
		top: 0;
		border: 1px solid #000;
		background: #fff;
	}
	</style>
	<script src="http://api.map.baidu.com/api?v=1.4" type="text/javascript"></script>
</head>
<body>
	<div id="map"></div>
	<div id="position"></div>
	<script>
	var map = new BMap.Map("map");          // 创建地图实例
	map.enableScrollWheelZoom();
	map.enableInertialDragging();
	var point = new BMap.Point(116.404, 39.915);  // 创建点坐标
	map.centerAndZoom(point, 15);
	map.addControl(new BMap.NavigationControl());  
	var loc = new BMap.GeolocationControl({enableAutoLocation: true});
	map.addControl(loc);
	loc.location = function (noAutoPan) {
		!this.Of && this.Je ? (!noAutoPan && this.i.Zc(this.Je), this.zq()) : (this.sj && this.Ce("startLocation"), (!noAutoPan && this.$x()));
	}
	setInterval(function () {
		loc.location(true);
	}, 3000);
	loc.addEventListener("locationSuccess", function (e) {
		console.log(e.point.lng + " " + e.point.lat)
		document.getElementById("position").innerHTML = e.point.lng + " " + e.point.lat;
	});
	</script>
</body>
</html>