<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/touch/apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" href="img/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="img/touch/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#222222">


    <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">

    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    

    <!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
    <script type="text/javascript" src="http://openapi.baidu.com/connect/js/v2.0/featureloader"></script>
    <script src="/js/lib/zepto.js"></script>
    <script src="/js/lib/zepto.cookie.js"></script>
    <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>

    <link rel="stylesheet" href="/css/app.css">

    <style type="text/css">
    </style>
</head>
<body>
welcome

<a href="javascript:void(0)" id="login">连接百度先</a><br>
<a href="javascript:void(0)" id="logout">logout</a>
</body>
<script>
var userInfo = {},      // User's infomation: uid, uname, portrait
    friendList = [];    // User's friends list

;(function () {
    baidu.require('connect', function(connect){
        var callback = function (info) {
            if (!info) {
                userInfo = {};
                friendList = [];
            } else if(info.status === "connected") {
                connect.api({
                    url: 'passport/users/getLoggedInUser',
                    onsuccess: function(user){
                        userInfo = user;
                        $.extend(userInfo, {"access_token": info.session.access_token});
                        $.fn.cookie("uid", userInfo.uid);
                        $.fn.cookie("access_token", userInfo.access_token);
                    }
                });
                connect.api({
                    url: 'friends/getFriends',
                    onsuccess: function(friends){
                        friendList = friends;
                        // location.href = "/index";
                    }
                });
            } else {
                userInfo = {};
                friendList = [];
            }
        };

        connect.init('5DFaFFfHkdmpHU38wv5lHukF', {
            status:true,
        });

        connect.getLoginStatus(function (info) {
            callback(info);
        });

        $("#login").click(function (e) {
            e.preventDefault();
            connect.login(function (info) {
                callback(info);
            }, {"display": "mobile"});
        });
        $("#logout").click(function (e) {
            e.preventDefault();
            connect.logout(function (info) {
                callback(info);
            });
        });

    });
})();
</script>
</html>