/*
 * Import nib
 */
@import 'nib'

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Grab a custom font from Google
 */
// @import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Store the main color and
 * background color as variables
 */
main-color = #fa5b4d
background-color = #fff

body
  font-family 'Georgia'
  background-color background-color
  color #444
  -webkit-overflow-scrolling touch
