.flag{ background:url("flag.png") top left no-repeat; }
.flag_flag_r4_c3{ width:58px; height:51px; background-position:-1px -1px; }
.flag_flag_r4_c1{ width:58px; height:51px; background-position:-1px -53px; }
.flag_flag_r3_c3{ width:58px; height:63px; background-position:-1px -105px; }
.flag_flag_r3_c1{ width:58px; height:63px; background-position:-1px -169px; }
.flag_flag_r2_c2{ width:26px; height:30px; background-position:-1px -233px; }
.flag_flag_r1_c2{ width:26px; height:30px; background-position:-1px -264px; }
.flag_flag_r1_c1{ width:54px; height:60px; background-position:-1px -295px; }
